# Экзамен по курсу "Аналитика данных на Python"

Этот тест проверит Ваши навыки работы с таблицами данных с помощью библиотек pandas и numpy. Задания делятся на простые (⭐️), средние (⭐️⭐️) и сложные (⭐️⭐️⭐️). Решение простых заданий, как правило, требует одной-двух операций с таблицами, тогда как для более сложных может потребоваться несколько последовательных преобразований данных.

##  Предыстория

Сегодня Ваш первый день работы в крупном интернет-магазине, который продаёт товары с доставкой по всему миру. Ваша первая задача – проанализировать базу данных покупок, совершённых в магазине за последние несколько лет. База содержит информацию об отдельных транзакциях, про каждую из которых известны номер инвойса (InvoiceNo), дата инвойса(InvoiceDate), код товара (StockCode), описание товара(Description), количество товара в транзакции (Quantity), стоимость единицы товара (UnitPrice), код покупателя (CustomerID), страна покупателя (Country).

База выгружена для Вас в формате CSV: файл [```online-retail.csv```](https://drive.google.com/file/d/1O1oJtpEu-u6s6xTu7seQfnNcQjYCt0GF/view?usp=sharing)

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, date, timedelta
import locale
locale.setlocale(locale.LC_ALL, "ru_RU.utf8") # задаем локаль для вывода даты на русском языке

'ru_RU.utf8'

## ⭐️ Вопрос 1

Загрузите данные из файла online-retail.csv в переменную типа pandas DataFrame

Подсказка: Используйте функцию из библиотеки pandas

Какой символ-разделитель используется в этом файле?

* Запятая ","
* Двоеточие ":"
* Точка с запятой ";"
* Символ табуляции "tab"

#### Решение

In [11]:
df = pd.read_csv("/home/user/PycharmProjects/files/exam1/online-retail.csv", sep=";")
# df = pd.read_csv("D:/files/exam1/online-retail.csv", sep=";")
# sep - ";"

## ⭐️ Вопрос 2

Сколько строк в полученной таблице (не считая заголовков столбцов)?

#### Решение

In [12]:
print(len(df))
# 541911

541911

## ⭐️ Вопрос 3

Сколько столбцов в полученной таблице (не считая индекса)?

#### Решение

In [13]:
print(df.shape[1])

# 8

8

## ⭐️ Вопрос 4

Как называется столбец с самым коротким названием?

#### Решение

In [14]:
cols = np.array(df.columns.to_list())
print( [ x+'-'+str(len(x)) for x in cols])
# Country

['InvoiceNo-9', 'StockCode-9', 'Description-11', 'Quantity-8', 'InvoiceDate-11', 'UnitPrice-9', 'CustomerID-10', 'Country-7']

## ⭐️ Вопрос 5

В скольких столбцах встречаются пропущенные значения? (ответ - целое число)

#### Решение

In [15]:
df.info()
# 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541911 entries, 0 to 541910
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541911 non-null  object
 1   StockCode    541911 non-null  object
 2   Description  540456 non-null  object
 3   Quantity     541911 non-null  int64
 4   InvoiceDate  541911 non-null  object
 5   UnitPrice    541911 non-null  float64
 6   CustomerID   406831 non-null  float64
 7   Country      541911 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## ⭐️ Вопрос 6

Сколько пропущенных значений в столбце CustomerID? (ответ - целое число)

#### Решение

In [16]:
df['CustomerID'].isnull().sum()

# 135080

135080

## ⭐️⭐️ Вопрос 7

Посмотрим, данные за какой исторический период у нас есть. 

Данные за какой самый ранний и за какой самый поздний годы содержатся в датасете? В ответе укажите два целых числа через запятую.

#### Решение

In [17]:
years = df['InvoiceDate'].apply(lambda x: x[:4]).map(int)
# years.map(int)
print('{},{}'.format(years.min(), years.max()))
# 2010,2011

2010,2011

## ⭐️ Вопрос 8

Каковы минимальная и максимальная цена товаров (UnitPrice)? Перечислите через запятую. Цена в этом задании может принимать отрицательные значения.

#### Решение

In [18]:
prices = df['UnitPrice']
print('{},{}'.format(prices.min(), prices.max()))
# -11062.06,38970

-11062.06,38970.0

## ⭐️ Вопрос 9

В таблице оказались товары с отрицательными ценами! Это явно какая-то ошибка. Какое описание (Description) у таких транзакций? Перечислите все варианты через запятую, отсортировав строки по алфавиту.

#### Решение

In [19]:
print(','.join(df[df['UnitPrice'] < 0]['Description']))
# Adjust bad debt,Adjust Bad debt

Adjust bad debt,Adjust bad debt

## ⭐️ Вопрос 10

Поищем ещё возможные проблемы с данными. Как насчёт товаров с нулевыми ценами? 

Сколько в таблице транзакций с нулевой ценой? А с пропусками на месте цены? 

Перечислите два целых числа через запятую.

#### Решение

In [20]:
print(\
    '{},{}'.format(\
        df[df['UnitPrice'] == 0].shape[0],\
        df['UnitPrice'].isnull().sum()\
    )\
)

2515,0

## ⭐️⭐️ Вопрос 11

Для дальнейшего анализа поведения покупателей нам понадобится набор данных, в которых у каждой транзакции корректно указана цена, количество единиц товара (Quantity) и id покупателя (CustomerID). Удалите из таблицы все строки, в которых цена не превосходит 0 или пропущена, или количество единиц товара не превосходит 0 или пропущено, или в которых пропущен id покупателя. 

Сколько строк осталось?

#### Решение

In [21]:
df = df[\
    (df.UnitPrice > 0) &\
    (df.Quantity > 0) &\
    (~pd.isnull(df.CustomerID))\
]
print(len(df))

397886

## Внимание! 

### Везде далее мы работаем с очищенной таблицей, полученной в Вопросе 11.

## ⭐️⭐️ Вопрос 12

В таблице для каждой транзакции указаны цена за единицу товара (UnitPrice) и количество единиц товара (Quantity). Вычислите для каждой транзакции её **полную стоимость** и сохраните в новом столбце Price, который добавьте в таблицу. 

Каковы минимальная и максимальная полная стоимость транзакций? Перечислите через запятую, округлив до целых чисел.

#### Решение

In [22]:
df['Price'] = df['UnitPrice'] * df['Quantity']

print('{},{}'.format(
        int(df['Price'].min().round()),
        int(df['Price'].max().round())
    )
)

0,168470

## ⭐️⭐️ Вопрос 13

В нашей базе данных каждая покупка представлена одной или несколькими транзакциями. Покупка однозначно определяется своим номером инвойса (InvoiceNo). Транзакции, относящиеся к одной покупке, имеют один и тот же InvoiceNo. 

Стоимость всей покупки равна сумме полных стоимостей транзакций, входящих в неё. Найдите стоимости трёх самых дорогих покупок. Перечислите через запятую в порядке убывания, округлив до целых чисел.

#### Решение

In [23]:
purchases = df[['InvoiceNo', 'Price']]\
    .groupby(['InvoiceNo'])\
    .agg('sum')\
    .sort_values(['Price'], ascending=False)
print(
    ','.join(
        map(
            str, map(int, purchases.iloc[0:3,0].round())
        )
    )
)

168470,77184,38970

## ⭐️⭐️ Вопрос 14

Какой товар составил наибольшую выручку? В ответе укажите описание товара (дословно строку из соответствующего поля в столбце Description).

#### Решение

In [24]:
print(
    df[df['InvoiceNo'] == purchases.index[0]]['Description']\
        .values[0]
)

PAPER CRAFT , LITTLE BIRDIE

## ⭐️⭐️ Вопрос 15

Создайте новую таблицу purchases, в которой каждая строка будет соответствовать отдельной покупке, со столбцами 
InvoiceNo, InvoiceDate, Price, CustomerID, Country.

Поскольку дата InvoiceDate может быть отличаться для разных транзакций внутри одной покупки, при группировке возьмите самую раннюю из дат. Также отсортируйте её по датам по возрастанию.

Сколько получилось строк?

#### Решение

In [25]:
df['InvoiceDate'] = df['InvoiceDate'].apply(
    lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
)
purchases = df[['InvoiceNo', 'InvoiceDate', 'Price', 'CustomerID', 'Country']]\
    .groupby(['InvoiceNo'])\
    .agg({'InvoiceDate':np.min, 'Price':'sum', 'CustomerID':'first', 'Country':'first'})\
    .sort_values(['InvoiceDate'])\
    .reset_index()
print(len(purchases))

18533

## ⭐️⭐️ Вопрос 16

Исследуем, растут или убывают покупки наших клиентов после их первой покупки на сайте.
Найдите среднюю цену первых покупок клиентов: для каждого клиента возьмите его первую покупку и усредните эти значения. Найдите среднюю цену покупок в целом. Округлите эти числа до целых и перечислите в этом порядке через запятую.

#### Решение

In [26]:
first_purchase_mean = purchases[['CustomerID', 'Price']]\
    .groupby(['CustomerID'])\
    .agg('first')\
    .reset_index()\
   ['Price']\
    .mean()
print(
    '{},{}'.format(
        int(round(first_purchase_mean)),
        int(round(purchases['Price'].mean()))
    )
)

425,481

## ⭐️⭐️⭐️ Вопрос 17

В какой день недели было наибольшее число покупок? В ответе укажите русское название дня недели, начинающееся с заглавной буквы.


Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите день недели, в который она была совершена. Сохраните в новый столбец.
* Сгруппируйте таблицу по дням недели.

#### Решение

In [27]:
purchases['DayOfWeek'] = purchases['InvoiceDate']\
    .apply(lambda x: x.strftime("%A").capitalize())

days_of_week = purchases[['DayOfWeek', 'InvoiceNo']].\
    groupby(['DayOfWeek'])\
    .count()\
    .rename(columns={'InvoiceNo':'amount'})\

print(
    days_of_week[days_of_week['amount'] == days_of_week['amount'].max()]\
        .index[0]
)

Четверг

## ⭐️⭐️⭐️ Вопрос 18

В какой год и месяц выручка была максимальной?

Подсказка: 
* Преобразуйте тип данных в столбце InvoiceDate таблицы purchases из строк в datetime. 
* Для каждой покупки вычислите год и месяц, в которые она была совершена. Сохраните в новые столбцы.
* Сгруппируйте таблицу по новым столбцам

В ответе укажите два целых числа через запятую: год, месяц

#### Решение

In [48]:
purchases['month'] = purchases['InvoiceDate']\
    .apply(lambda x: x.strftime("%-m"))
purchases['year'] = purchases['InvoiceDate']\
    .apply(lambda x: x.strftime("%Y"))
df_year_month = purchases[['year', 'month','Price']]\
    .groupby(['year', 'month'])\
    .agg({'Price':'count'})\
    .rename(columns={'Price':'total'})
print(
    ','.join(
        list(
            df_year_month[
                 df_year_month['total'] == df_year_month['total'].max()
             ].index[0]
        )
    )
)

2011,11

## ⭐️⭐️⭐️ Вопрос 19

Магазин продаёт товары покупателям из разных стран (Country). В какой стране был наибольший процентный рост месячных продаж, если сравнить март 2011 и сентябрь 2011? Сколько процентов составил этот рост? В расчёт брать только страны, в которых были ненулевые продажи в обоих этих месяцах. В ответе укажите через запятую название страны и целое число (процентный рост, округлённый до целого числа).

#### Решение

In [98]:
df_country = purchases[
    (purchases['year'] == '2011') &
    (purchases['month'].isin(['3','9']))
]
df_country = df_country[['Country','month','Price']].groupby(['Country','month']).agg('sum').reset_index()

filter_countries = df_country[['Country', 'month']]\
    .groupby(['Country'])\
    .count()\
    .reset_index()
filter_countries = filter_countries[filter_countries.month == 2]['Country'].to_list()
df_country = df_country[df_country['Country'].isin(filter_countries)]

df_country = df_country.pivot(index='Country', columns='month', values='Price').reset_index()

In [109]:
df_country['inc_percent'] = (df_country['9'] * 100 / df_country['3']) - 100
df_country['inc_percent'] = df_country['inc_percent'].apply(lambda x: int(round(x)))

print(
    '{},{}'.format(
        df_country[df_country['inc_percent'] == df_country['inc_percent'].max()]['Country'].values[0],
        df_country[df_country['inc_percent'] == df_country['inc_percent'].max()]['inc_percent'].values[0]
    )
)

Norway,586

## ⭐️⭐️⭐️ Вопрос 20

Большинство клиентов все свои покупки делают из одной и той же страны. Выясним, однако, насколько велика доля путешественников среди клиентов. 
Сколько клиентов сделали покупки по крайней мере из двух разных стран? (ответ - целое число)

#### Решение

## ⭐️⭐️⭐️ Вопрос 21

Мы запускаем в Италии рекомендательную систему "С этим товаром часто покупают...", и для этого хотим узнать, какие различные товары чаще всего встречаются в одной покупке из этой страны. Определите, какая пара различных товаров чаще всего встречается в различных покупках с ```Country=='Italy'```, и в скольких покупках это происходит. Одинаковые товары или нет, проверяйте по равенству поля Description. 

(ответ: название (Description) первого товара, название (Description) второго товара, целое число)

#### Решение