In [20]:
import csv
import pandas as pd

In [21]:
# name.csv ниже нужно заменить на название csv файла, который вы хотите открыть
file_path = 'click_stream3.csv'
with open(file_path, mode='r') as csv_file: # открываем файл
    csv_reader = csv.DictReader(csv_file, fieldnames=['ID','page','date', 'device', 'gender']) # читаем файл

    data = {}
    for row in csv_reader: #перебираем по одной строчке нашего файла
        page, month = list(row.items())[1][1], list(row.items())[2][1][:-3]
        device, gender = list(row.items())[3][1], list(row.items())[4][1]

        if month in data:
            if page in data[month]:
                if device in data[month][page]:
                    if gender in data[month][page][device]:
                        data[month][page][device][gender] += 1
                    else:
                        data[month][page][device][gender] = 1
                else:
                    data[month][page][device] = {}
            else:
                data[month][page] = {}
        else:
            data[month] = {}

    # print(data.keys())
    print(data)

{'2015-02': {'1_home_page': {'Mobile': {'Female': 3750, 'Male': 3799}, 'Desktop': {'Female': 7447, 'Male': 7600}}, '2_search_page': {'Desktop': {'Female': 3799, 'Male': 3831}, 'Mobile': {'Female': 3019, 'Male': 3035}}, '3_payment_page': {'Desktop': {'Female': 605, 'Male': 585}, 'Mobile': {'Male': 590, 'Female': 629}}, '4_payment_confirmation_page': {'Mobile': {'Male': 59, 'Female': 59}, 'Desktop': {'Female': 25, 'Male': 27}}}, '2015-03': {'1_home_page': {'Mobile': {'Male': 3812, 'Female': 3737}, 'Desktop': {'Male': 7536, 'Female': 7511}}, '2_search_page': {'Desktop': {'Female': 3707, 'Male': 3661}, 'Mobile': {'Male': 761, 'Female': 747}}, '3_payment_page': {'Desktop': {'Female': 162, 'Male': 132}, 'Mobile': {'Female': 174, 'Male': 160}}, '4_payment_confirmation_page': {'Desktop': {'Female': 5, 'Male': 8}, 'Mobile': {'Female': 18, 'Male': 10}}}, '2015-01': {'1_home_page': {'Desktop': {'Male': 7503, 'Female': 7545}, 'Mobile': {'Female': 3868, 'Male': 3680}}, '2_search_page': {'Desktop': {'Male': 3678, 'Female': 3850}, 'Mobile': {'Male': 2963, 'Female': 3060}}, '3_payment_page': {'Mobile': {'Female': 618, 'Male': 550}, 'Desktop': {'Female': 623, 'Male': 596}}, '4_payment_confirmation_page': {'Mobile': {'Female': 74, 'Male': 53}, 'Desktop': {'Female': 33, 'Male': 26}}}, '2015-04': {'1_home_page': {'Mobile': {'Male': 3829, 'Female': 3719}, 'Desktop': {'Male': 7557, 'Female': 7491}}, '2_search_page': {'Desktop': {'Female': 3732, 'Male': 3836}, 'Mobile': {'Male': 754, 'Female': 755}}, '3_payment_page': {'Desktop': {'Male': 163, 'Female': 138}, 'Mobile': {'Male': 146, 'Female': 147}}, '4_payment_confirmation_page': {'Desktop': {'Male': 12, 'Female': 8}, 'Mobile': {'Female': 10, 'Male': 13}}}}

In [22]:
df = pd.DataFrame(data)
df

,2015-02,2015-03,2015-01,2015-04
1_home_page,"{'Mobile': {'Female': 3750, 'Male': 3799}, 'De...","{'Mobile': {'Male': 3812, 'Female': 3737}, 'De...","{'Desktop': {'Male': 7503, 'Female': 7545}, 'M...","{'Mobile': {'Male': 3829, 'Female': 3719}, 'De..."
2_search_page,"{'Desktop': {'Female': 3799, 'Male': 3831}, 'M...","{'Desktop': {'Female': 3707, 'Male': 3661}, 'M...","{'Desktop': {'Male': 3678, 'Female': 3850}, 'M...","{'Desktop': {'Female': 3732, 'Male': 3836}, 'M..."
3_payment_page,"{'Desktop': {'Female': 605, 'Male': 585}, 'Mob...","{'Desktop': {'Female': 162, 'Male': 132}, 'Mob...","{'Mobile': {'Female': 618, 'Male': 550}, 'Desk...","{'Desktop': {'Male': 163, 'Female': 138}, 'Mob..."
4_payment_confirmation_page,"{'Mobile': {'Male': 59, 'Female': 59}, 'Deskto...","{'Desktop': {'Female': 5, 'Male': 8}, 'Mobile'...","{'Mobile': {'Female': 74, 'Male': 53}, 'Deskto...","{'Desktop': {'Male': 12, 'Female': 8}, 'Mobile..."

In [46]:
row = ''
for month in sorted(data.keys()):
    row += '|' + month
    # print(month)
    for page in data[month].keys():
        row += '|' + page
        # print(page)
        for device in data[month][page]:
            row += '|' + device
            male, female = 0, 0
            # print(device)
            male = data[month][page][device]['Male']
            female = data[month][page][device]['Female']
            diff = female - male
            print(row, ' ', diff)
        row = ''

|2015-01|1_home_page|Desktop   42
|2015-01|1_home_page|Desktop|Mobile   188
|2_search_page|Desktop   172
|2_search_page|Desktop|Mobile   97
|3_payment_page|Mobile   68
|3_payment_page|Mobile|Desktop   27
|4_payment_confirmation_page|Mobile   21
|4_payment_confirmation_page|Mobile|Desktop   7
|2015-02|1_home_page|Mobile   -49
|2015-02|1_home_page|Mobile|Desktop   -153
|2_search_page|Desktop   -32
|2_search_page|Desktop|Mobile   -16
|3_payment_page|Desktop   20
|3_payment_page|Desktop|Mobile   39
|4_payment_confirmation_page|Mobile   0
|4_payment_confirmation_page|Mobile|Desktop   -2
|2015-03|1_home_page|Mobile   -75
|2015-03|1_home_page|Mobile|Desktop   -25
|2_search_page|Desktop   46
|2_search_page|Desktop|Mobile   -14
|3_payment_page|Desktop   30
|3_payment_page|Desktop|Mobile   14
|4_payment_confirmation_page|Desktop   -3
|4_payment_confirmation_page|Desktop|Mobile   8
|2015-04|1_home_page|Mobile   -110
|2015-04|1_home_page|Mobile|Desktop   -66
|2_search_page|Desktop   -104
|2_search_page|Desktop|Mobile   1
|3_payment_page|Desktop   -25
|3_payment_page|Desktop|Mobile   1
|4_payment_confirmation_page|Desktop   -4
|4_payment_confirmation_page|Desktop|Mobile   -3