In [2]:
import csv
import pandas as pd

In [3]:
# name.csv ниже нужно заменить на название csv файла, который вы хотите открыть
file_path = 'click_stream3.csv'
with open(file_path, mode='r') as csv_file: # открываем файл
    csv_reader = csv.DictReader(csv_file, fieldnames=['ID','page','date', 'device', 'gender']) # читаем файл

    data = {}
    for row in csv_reader: #перебираем по одной строчке нашего файла
        page, month = list(row.items())[1][1], list(row.items())[2][1][:-3]
        device, gender = list(row.items())[3][1], list(row.items())[4][1]

        if month in data:
            if page in data[month]:
                if device in data[month][page]:
                    if gender in data[month][page][device]:
                        data[month][page][device][gender] += 1
                    else:
                        data[month][page][device][gender] = 1
                else:
                    data[month][page][device] = {}
            else:
                data[month][page] = {}
        else:
            data[month] = {}

    # print(data.keys())
    print(data)

{'2015-02': {'1_home_page': {'Mobile': {'Female': 3750, 'Male': 3799}, 'Desktop': {'Female': 7447, 'Male': 7600}}, '2_search_page': {'Desktop': {'Female': 3799, 'Male': 3831}, 'Mobile': {'Female': 3019, 'Male': 3035}}, '3_payment_page': {'Desktop': {'Female': 605, 'Male': 585}, 'Mobile': {'Male': 590, 'Female': 629}}, '4_payment_confirmation_page': {'Mobile': {'Male': 59, 'Female': 59}, 'Desktop': {'Female': 25, 'Male': 27}}}, '2015-03': {'1_home_page': {'Mobile': {'Male': 3812, 'Female': 3737}, 'Desktop': {'Male': 7536, 'Female': 7511}}, '2_search_page': {'Desktop': {'Female': 3707, 'Male': 3661}, 'Mobile': {'Male': 761, 'Female': 747}}, '3_payment_page': {'Desktop': {'Female': 162, 'Male': 132}, 'Mobile': {'Female': 174, 'Male': 160}}, '4_payment_confirmation_page': {'Desktop': {'Female': 5, 'Male': 8}, 'Mobile': {'Female': 18, 'Male': 10}}}, '2015-01': {'1_home_page': {'Desktop': {'Male': 7503, 'Female': 7545}, 'Mobile': {'Female': 3868, 'Male': 3680}}, '2_search_page': {'Desktop': {'Male': 3678, 'Female': 3850}, 'Mobile': {'Male': 2963, 'Female': 3060}}, '3_payment_page': {'Mobile': {'Female': 618, 'Male': 550}, 'Desktop': {'Female': 623, 'Male': 596}}, '4_payment_confirmation_page': {'Mobile': {'Female': 74, 'Male': 53}, 'Desktop': {'Female': 33, 'Male': 26}}}, '2015-04': {'1_home_page': {'Mobile': {'Male': 3829, 'Female': 3719}, 'Desktop': {'Male': 7557, 'Female': 7491}}, '2_search_page': {'Desktop': {'Female': 3732, 'Male': 3836}, 'Mobile': {'Male': 754, 'Female': 755}}, '3_payment_page': {'Desktop': {'Male': 163, 'Female': 138}, 'Mobile': {'Male': 146, 'Female': 147}}, '4_payment_confirmation_page': {'Desktop': {'Male': 12, 'Female': 8}, 'Mobile': {'Female': 10, 'Male': 13}}}}

In [4]:
df = pd.DataFrame(data)
df

,2015-02,2015-03,2015-01,2015-04
1_home_page,"{'Mobile': {'Female': 3750, 'Male': 3799}, 'De...","{'Mobile': {'Male': 3812, 'Female': 3737}, 'De...","{'Desktop': {'Male': 7503, 'Female': 7545}, 'M...","{'Mobile': {'Male': 3829, 'Female': 3719}, 'De..."
2_search_page,"{'Desktop': {'Female': 3799, 'Male': 3831}, 'M...","{'Desktop': {'Female': 3707, 'Male': 3661}, 'M...","{'Desktop': {'Male': 3678, 'Female': 3850}, 'M...","{'Desktop': {'Female': 3732, 'Male': 3836}, 'M..."
3_payment_page,"{'Desktop': {'Female': 605, 'Male': 585}, 'Mob...","{'Desktop': {'Female': 162, 'Male': 132}, 'Mob...","{'Mobile': {'Female': 618, 'Male': 550}, 'Desk...","{'Desktop': {'Male': 163, 'Female': 138}, 'Mob..."
4_payment_confirmation_page,"{'Mobile': {'Male': 59, 'Female': 59}, 'Deskto...","{'Desktop': {'Female': 5, 'Male': 8}, 'Mobile'...","{'Mobile': {'Female': 74, 'Male': 53}, 'Deskto...","{'Desktop': {'Male': 12, 'Female': 8}, 'Mobile..."

In [5]:
row = ''
for month in sorted(data.keys()):
    print('==================================%s========================================'%(month))
    for page in sorted(data[month].keys()):
        row += '|' + page[0]
        for idx, device in enumerate(sorted(data[month][page])):
            if idx%2 : row = '                                            ' + row
            male, female = 0, 0
            male = data[month][page][device]['Male']
            female = data[month][page][device]['Female']
            diff = female - male
            print(row + '|' + device[:6],  female, '-', male, '  = ', diff)
        row = ''

==================================2015-01========================================
|1|Deskto 7545 - 7503   =  42
                                            |1|Mobile 3868 - 3680   =  188
|2|Deskto 3850 - 3678   =  172
                                            |2|Mobile 3060 - 2963   =  97
|3|Deskto 623 - 596   =  27
                                            |3|Mobile 618 - 550   =  68
|4|Deskto 33 - 26   =  7
                                            |4|Mobile 74 - 53   =  21
==================================2015-02========================================
|1|Deskto 7447 - 7600   =  -153
                                            |1|Mobile 3750 - 3799   =  -49
|2|Deskto 3799 - 3831   =  -32
                                            |2|Mobile 3019 - 3035   =  -16
|3|Deskto 605 - 585   =  20
                                            |3|Mobile 629 - 590   =  39
|4|Deskto 25 - 27   =  -2
                                            |4|Mobile 59 - 59   =  0
==================================2015-03========================================
|1|Deskto 7511 - 7536   =  -25
                                            |1|Mobile 3737 - 3812   =  -75
|2|Deskto 3707 - 3661   =  46
                                            |2|Mobile 747 - 761   =  -14
|3|Deskto 162 - 132   =  30
                                            |3|Mobile 174 - 160   =  14
|4|Deskto 5 - 8   =  -3
                                            |4|Mobile 18 - 10   =  8
==================================2015-04========================================
|1|Deskto 7491 - 7557   =  -66
                                            |1|Mobile 3719 - 3829   =  -110
|2|Deskto 3732 - 3836   =  -104
                                            |2|Mobile 755 - 754   =  1
|3|Deskto 138 - 163   =  -25
                                            |3|Mobile 147 - 146   =  1
|4|Deskto 8 - 12   =  -4
                                            |4|Mobile 10 - 13   =  -3